POSTGRES_USER=backend
POSTGRES_PASSWORD=weak-password
POSTGRES_HOST=gateway-db
POSTGRES_PORT=5432
POSTGRES_DB=gateway-db

PROCESS_AUDIO_URL=http://ml-service:8000/process-audio
TASK_STATUS_URL=http://ml-service:8000/status

TIMEZONE=Europe/Moscow
SECRET_KEY="really-secret-key"
ALGORITHM=HS256
TOKEN_EXPIRES_MINUTES=120

ADMIN_PSK="string"