CALL_POSTGRES_DB="calls"
CALL_POSTGRES_USER="pg"
CALL_POSTGRES_PASS="change-me-pg"
CALL_POSTGRES_HOST="postgres"
CALL_POSTGRES_PORT="5432"

CALL_REDIS_HOST="call-redis"
CALL_REDIS_PORT="6379"
CALL_REDIS_CHANNEL="call-tasks"

CALL_MONGO_DB="calls"
CALL_MONGO_USER="mongodb"
CALL_MONGO_PASS="change-me-mongodb"
CALL_MONGO_HOST="call-mongo"
CALL_MONGO_PORT="27017"

BITRIX_MYSQL_DB="u2884493_default"
BITRIX_MYSQL_USER="u2884493_default"
BITRIX_MYSQL_PASS="change-me-mysql"